// Body
$body-bg: #f8fafc;

// Typography

//font color
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//card styke
$card-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.05);
$--bs-card-border-color: blue;
