// Body
$body-bg: #f8fafc;

// Typography

//font color
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//card styke
$--bs-card-box-shadow: 5px 10px 8px rgba(1, 1, 1, 0.05);
$--bs-card-border-color: rgba(198, 205, 198, 0.303);
