// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//set font family for body
body {
    font-family: 'Arial', sans-serif;
    
};

.card {
    box-shadow: $--bs-card-box-shadow;
    border-color: $--bs-card-border-color;

};

.btn{
   
    margin: 10px;
    border-radius: 0px;
};
